* {
    margin: 0;
    background-color: var(--secondary);
}

:root {
    /* Font Family */
    --ff-heading: heading36;
    --ff-text: kiona;
    --ff-bold: humane-bold;
    --ff-heading2: satoshi-bold;

    --fs-text: 1.2rem;
    --mfs-text: 0.7rem;

    --primary: #131313;
    --secondary: #ebe9e4;
    --accent: #e0b082;
    --tertiary: rgb(128, 128, 128);

    --btn-padding: 1rem 2rem 1rem 2rem;
    --mbtn-padding: 0.5rem 1rem 0.5rem 1rem;
}

/* Global Css */
.btn {
    padding: var(--btn-padding);
}

.accent {
    color: var(--accent);
}

.heading {
    font-family: var(--ff-heading);
    color: var(--primary);
    line-height: 100%;
}

.heading2 {
    font-family: var(--ff-heading2);
    color: var(--primary);
    line-height: 100%;
}

.text {
    font-family: var(--ff-text);
    line-height: 100%;
    font-weight: bold;
}

/* Landing Section */

.landing {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.landing-title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    font-size: 25vw;
    background: none;
    user-select: none;
    line-height: 90%;
}

.info-text-container {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    width: 40%;
    justify-content: space-between;
    color: var(--primary);
}

.char {
    display: inline-block;
    background: none;
}

.landing-btn {
    background: none;
    border: solid 1px var(--primary);
    border-radius: 25px;
    color: var(--primary);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.copyright {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: absolute;
    width: 20rem;
    height: 4rem;
    bottom: 0;
    display: flex;
    font-family: var(--ff-text);
    font-weight: bold;
    align-items: center;
    margin: auto;
    justify-content: center;
    left: 0;
    right: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 0;
    color: rgb(128, 128, 128);
    gap: 0.5rem;
}

.contact-icon {
    width: 2rem;
}

/* Main content section */

.main-content {
    display: none;
}

.about {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1.2fr 0.8fr;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    /* opacity: 0; */
}

.about > h1 {
    text-align: center;
    align-self: end;
    opacity: 0;
    /* word-spacing: 1rem */
}

.line-container {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 900px;
    justify-self: center;
    align-items: center;
}

.line {
    height: 3px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--tertiary);
    /* background-color: #ECE6D5; */
    opacity: 0;
}

@media (max-width: 1534px) {
    .line-container {
        width: 550px;
    }
}

@media (max-width: 800px) {
    .line-container {
        width: 250px;
    }
}

@media (max-width: 570px) {
    .line-container {
        width: 200px;
    }

    .btn {
        padding: var(--mbtn-padding);
    }

    .landing-title {
        font-size: 35vw;
    }

    .info-text-container {
        width: 55%;
    }
}
